@import "../css/Variables.scss";
@import "../css/Mixins.scss";
@import "../Grid/Grid.scss";

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -20vh;

  @include respond(tab-port) {
    padding: 20rem 0;
  }
}

.btn-text {
  &:link,
  &:visited {
    color: $color-primary;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $color-primary;
    padding: 3px;
    font-size: $default-font-size;
    transition: all 0.2s;
  }

  &:hover {
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.15);
    transform: translateY(0);
  }
}

.composition {
  position: relative;
  transition: all 0.2s;

  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    position: absolute;
    z-index: 10;
    transition: all 0.2s;
    outline-offset: 2rem;

    @include respond(tab-port) {
      float: left;
      position: relative;
      width: 33.33%;
      box-shadow: 0 1.5rem 3rem rgba($color-black, 0.2);
    }

    &--p1 {
      top: -2rem;
      left: 0;

      @include respond(tab-port) {
        top: 0;
        transform: scale(1.2);
      }
    }
    &--p2 {
      top: 2rem;
      right: 0;

      @include respond(tab-port) {
        top: -1.8rem;
        transform: scale(1.4);
        z-index: 100;
      }
    }
    &--p3 {
      top: 10rem;
      left: 20%;

      @include respond(tab-port) {
        top: 0;
        left: 0;
        transform: scale(1.2);
      }
    }

    &:hover {
      outline: 1.5rem solid $color-primary;

      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
      z-index: 20;

      @include respond(tab-port) {
        transform: scale(1.5) translateY(-0.5rem);
        z-index: 110;
      }
    }
  }

  // this part is for the image animation in the about section.
  // it selects the composition:hover and all composition__photo except for the one that is hovered, will scale down to 0.9.
  // the not selector is used to do this, to select all except(what we put inside this bracket)
  &:hover &__photo:not(:hover) {
    transform: scale(0.9);
  }
}
