/* 
COLORS

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-grey-dark: #777;
$color-black: #000;
$color-white: #fff;

html {
  font-size: 62.5%;
  /* as the default font size of the browser is 16, we can override it for our ease of doing the lengthy calculation of converting it to rem values.
  for that we can do
  font-size: 10px; to reduce the default to 10px. Makes it easy for us to convert them into rem values by diving the px values by 10.
  i.e. 40px now becomes 4rem.
  but there is a catch. If the user is visually impared and wanted to increase the browser font size, it will not change as our default value is now 10px which is static.
  To solve this, we convert the px value to a % value in our html so that the default becomes 16px as before.
  To do this we just divide 10/16 x 100 = 62.5% i.e. what % is 10px relative to 16px of default.
  In this way we get to use the 10px in our html in % and can also easily convert px values in rem in our project.
  */
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: $color-grey-dark;
  padding: 3rem;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}
.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}
.u-margin-top-huge {
  margin-top: 10rem !important;
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  // text-gradient effect from here
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  display: inline-block;
  background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all 0.2s;

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
  }
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}

.btn {
  &--green {
    background-color: $color-primary;
    color: $color-white;

    &::after {
      background-color: $color-primary;
    }
  }
}
